/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/


 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100vh;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .side-container {
        z-index: 999;
        position: absolute;
        top: 70px;
        margin-left: 20px;
        margin-top: 10px;
        width: 300px;
      }
      
      .input-container {
        width: 300px;
        margin-bottom: 20px;
        height: 50px;
      }
      
      .venue-list {
        font-size: 20px;
        font-weight: 400;
      }     