/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/


 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
          width: 100%;
          height: 100vh;
          margin: 20px;
        }
        
      
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .side-container {
        z-index: 999;
        position: absolute;
        top: 70px;
        margin-left: 20px;
        margin-top: 10px;
        width: 200px;
        background-color:tan;
      }
      
      .input-container {
        width: 200px;
        margin-bottom: 20px;
        height: 50px;
        background-color: rgb(214, 206, 206);
      }
      
      .venue-list {
        font-size: 20px;
        font-weight: 400;
      }  
      #header {
        position: relative;
        width: 100%;
        height: 60px;
        margin-top: 0;
        left: 0;
      }
     .map-title {
        text-align: center;
     }